@import './src/styles/responsive.scss';

.xobk-step4 {
  --xobk-info-col-gap: 20px;
  margin-top: 10px;
}

.xobk-step4-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--xobk-outline-color), 0.1);
  font-size: 18px;
  font-weight: 400;
}

.xobk-step4-title {
  font-size: 18px;
  line-height: 23px;
  color: var(--xobk-default-text-color);

  @include responsive(XS) {
    font-size: 16px;
    line-height: 20px;
  }
}

.xobk-step4-schedule {
  margin-top: 16px;
  margin-bottom: 48px;
  color: var(--xobk-default-text-third-color);

  @include responsive(XS) {
    margin-top: 12px;
    margin-bottom: 23px;
  }
}

.xobk-step4-header-btn {
  font-size: 13px;
  background: none;
  cursor: pointer;
  border: none;
  color: var(--xobk-subdued-text-color);
  line-height: 16px;
}

.xobk-step4-form {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: var(--xobk-info-col-gap);

  @include responsive(XS) {
    margin-top: 12px;
  }
}

.xobk-step4-form__element {
  width: 100%;

  @include responsive(MD) {
    width: calc(50% - var(--xobk-info-col-gap) / 2);
  }
}

.xobk-step4-form__element-label {
  font-weight: 600;
  word-wrap: break-word;
  line-height: 18px;
  color: var(--xobk-default-text-color);
}

.xobk-step4-form__element-value {
  margin-top: 6px;
  word-wrap: break-word;
  line-height: 18px;
  color: var(--xobk-default-text-third-color);
}
