.xo-form-select {
  width: 100%;
  color: var(--p-text);
}

.xo-form-select__select {
  --pc-select-backdrop: 10;
  --pc-select-content: 20;
  --pc-select-input: 30;
  position: relative;
  z-index: 1;
}

.xo-form-select__input {
  font-size: 14px;
  font-weight: var(--p-font-weight-regular);
  line-height: 18px;
  text-transform: none;
  letter-spacing: normal;
  position: absolute;
  text-rendering: auto;
  top: 0;
  left: 0;
  z-index: var(--pc-select-input);
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.xo-form-select__content {
  font-size: 14px;
  font-weight: var(--p-font-weight-regular);
  line-height: 18px;
  border: none;
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  z-index: var(--pc-select-content);
  display: flex;
  align-items: center;
  // width: 100%;
  min-height: 2.25rem;
  padding: 6px 8px;
  line-height: 1.6;
}

.xo-form-select__option {
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xo-form-select__icon {
  display: block;
  height: 20px;
  width: 20px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.xo-form-select__icon span {
  font-size: var(--p-font-size-75);
  line-height: var(--p-font-line-height-1);
  font-weight: var(--p-font-weight-regular);
  position: absolute !important;
  top: 0;
  width: 0.0625rem !important;
  height: 0.0625rem !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  text-align: inherit;
}

.xo-form-select__icon svg {
  fill: var(--p-icon);
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.xo-form-select__backdrop {
  display: block !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--p-border-width-1) solid var(--p-border-subdued);
  border-bottom-color: var(--p-border-shadow-subdued);
  border-radius: var(--p-border-radius-1);
  background-color: var(--p-surface);
  box-shadow: var(--p-shadow-button);
  display: block !important;
  position: absolute;
  z-index: var(--pc-select-backdrop);
}

.xo-form-select__backdrop::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -0.125rem;
  right: -0.125rem;
  bottom: -0.125rem;
  left: -0.125rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.125rem var(--p-focused);
  transition: box-shadow var(--p-duration-100) var(--p-ease);
  border-radius: var(--p-border-radius-1);
}

.xo-form-select--other {
  margin-top: 10px;
}

.xo-form-select__input:focus ~ .xo-form-select__backdrop:after {
  box-shadow: 0 0 0 0.125rem var(--p-focused);
  outline: var(--p-border-width-1) solid transparent;
}

.xo-form__field--disabled {
  cursor: default;
  color: var(--p-text-disabled) !important;
}

.xo-form__field--disabled svg {
  fill: var(--p-text-disabled) !important;
}

.xo-form__field--disabled .xo-form-select__backdrop {
  border-color: var(--p-border-disabled);
}

.xo-form__field--disabled .xo-form-select__content,
.xo-form__field--disabled .xo-form-select__select .xo-form-select__option {
  color: var(--p-text-disabled) !important;
}

.xo-form-select--error .xo-form-select__backdrop {
  background-color: var(--p-surface-critical-subdued);
  border-color: var(--p-border-critical);
}
