@import './src/styles/responsive.scss';

.xobk-step2-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include responsive(MD) {
    flex-direction: row;
    // align-items: center;
  }
}

.xobk-step2-timepicker {
  padding: 16px 30px 0;
  border-top: 1px solid rgba(var(--xobk-outline-color), 0.06);
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include responsive(MD) {
    margin-top: 0;
    margin-left: 40px;
    border-left: 1px solid rgba(var(--xobk-outline-color), 0.06);
    border-top: none;
    padding: 0 0 0 40px;
    display: block;
  }
}
