@import './src/styles/responsive.scss';

.xobk-form--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
  align-content: flex-start;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(var(--xobk-outline-color), 0.1);

  .xobk-form__text-field {
    width: 100%;

    @include responsive(LG) {
      width: calc(50% - var(--xobk-form-col-gap) / 2);
    }
  }
}

.xobk-step3 {
  .xo-form-help {
    font-size: 14px;
  }

  --xobk-form-col-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
  align-content: flex-start;

  @include responsive(MD) {
    padding-right: 80px;
  }

  .xo-form-error__container {
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  //combobox
  .xo-form-combo-box__item {
    background-color: var(--xo-bk-primary, --xobk-accent-color);

    span {
      color: var(--xobk-button-label-color);
    }
  }

  .xo-form-select__input:focus ~ .xo-form-select__backdrop:after {
    box-shadow: 0 0 0 0.125rem var(--xo-bk-primary-1, --xobk-accent-color);
  }

  .xo-form-select__content {
    width: inherit;
    padding: 11px 16px;
  }

  //text field
  .xo-form-text-field__help-text {
    color: var(--xobk-subdued-text-color);
  }

  .xo-form-text-field__wrap--error .xo-form-text-field__backdrop {
    box-shadow: 0 0 0 0.125rem var(--xo-bk-primary-1, --xobk-accent-color);
  }

  .xo-form-text-field__input {
    line-height: 18px;
    padding: 11px 16px;
    font-size: 14px;
  }

  //checkbox

  .xo-form-checkbox__backdrop {
    border-color: var(--xo-bk-primary-1, --xobk-accent-color);
  }

  //radio
  .xo-form-radio-button__label-text {
    align-items: center;
  }

  .xo-form-text-field__input:active ~ .xo-form-text-field__backdrop,
  .xo-form-text-field__input:focus ~ .xo-form-text-field__backdrop,
  .xo-form-text-field__input:focus-visible ~ .xo-form-text-field__backdrop {
    box-shadow: 0 0 0 0.125rem var(--xo-bk-primary-1);
  }

  //date picker
  .xo-form-datepicker__help {
    color: var(--xobk-subdued-text-color);
    margin-top: 8px;
  }

  .xo-form-datepicker__input:focus-visible {
    box-shadow: 0 0 0 0.125rem var(--xo-bk-primary-1);
  }

  //text area
  .xo-form-textarea--input:focus-visible {
    outline-color: var(--xo-bk-primary-1, --xobk-accent-color);
  }

  //dropzone
  .xo-form-drop-zone__action {
    color: var(--xobk-button-label-color);
    background-color: var(--xo-bk-primary-2, --xobk-accent-third-color);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .xo-form-drop-zone:hover::after {
    border-color: var(--xo-bk-primary, --xobk-accent-color);
  }

  //checkbox
  .xo-form-checkbox__check--checked .xo-form-checkbox__backdrop {
    background-color: var(--xo-bk-primary, --xobk-accent-color) !important;
    border-color: var(--xo-bk-primary, --xobk-accent-color) !important;
  }

  .xo-form-checkbox__help-text {
    color: var(--xobk-subdued-text-color);
  }

  @include responsive(XS) {
    padding-right: 0;
    overflow: visible;
    row-gap: 16px;
  }
}

.xobk-step3-element {
  width: 100%;

  @include responsive(LG) {
    width: calc(50% - var(--xobk-form-col-gap) / 2);
  }
}

.xobk-step3-blockElement {
  width: 100%;
}
