<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XO Booking</title>
    <script type="text/javascript">
      const Shopify = {
        shop: 'xobooky-staging.myshopify.com',
        locale: 'en',
      };
      var xoUpdate = 16529206392531;
      var xoDfLang = 'en';
      var xoMoneyFormat = `£{{amount}}`;
    </script>

    <style>
      body {
        background-color: beige;
      }

      .wrapper {
        max-width: 1440px;
        margin: 20px auto;
        background-color: #fff;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <div class="xo-booking"></div>
    </div>
    <script type="module" src="/src/main.tsx"></script>
  </body>

</html>