<div class="xo-faqs" data-xo-faqs="1">
  FAQs render here
</div>

{% schema %}
{
  "name": "XO FAQs",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "Test"
    }
  ],
  "presets": [
    {
      "name": "XO FAQs"
    }
  ]
}
{% endschema %}
