@import "./src/styles/responsive.scss";

.xobk-header {
  .xobk-header__subtitle {
    font-size: 15px;
    color: var(--xobk-subdued-heading-color);
    line-height: 19px;

    @include responsive(XS) {
      font-size: 13px;
      line-height: 16px;
    }
  }

  .xobk-header__title {
    font-size: 35px;
    color: var(--xobk-default-text-color);
    line-height: 45px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-top: 2px;

    @include responsive(XS) {
      font-size: 20px;
      line-height: 26px;
      margin-top: 4px;
    }
  }
}
