@import "./src/styles/responsive.scss";

.xo-booking {
  .react-daypicker-root {
    width: 100%;

    @include responsive(MD) {
      width: 350px;
    }
    @include responsive(LG) {
      width: 450px;
    }
  }

  .date-container {
    box-shadow: none !important;
    background: none;
    border-spacing: 10px;
    border-collapse: separate;
    text-indent: 0px;
    width: 100%;
  }

  .react-daypicker-root abbr {
    border-bottom: 0;
    text-decoration: none;
    word-break: break-all;
    font-size: 16px;
    color: var(--xobk-default-text-secondary-color);
  }

  .react-daypicker-root th,
  .react-daypicker-root td {
    text-align: center;
    width: calc(100% / 7);
    border: none;
    padding: 0;
  }

  td {
    position: relative;
  }

  td::after {
    content: "";
    display: block;
    margin-top: 100%;
  }

  td.day .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    height: 100%;
    color: var(--xobk-default-text-third-color);
  }

  td.day.today .content {
    color: var(--xo-bk-primary);
  }

  td.day.disabled .content {
    color: var(--xobk-subdued-text-secondary-color);
  }

  td.day.active .content {
    background-color: var(--xo-bk-primary, --xobk-accent-color);
  }

  .react-daypicker-root .daypicker-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .react-daypicker-root .previous-month,
  .react-daypicker-root .next-month {
    cursor: pointer;
    padding: 5px;
    user-select: none;
    width: 40px;
    border-radius: 1000px;
  }

  .react-daypicker-root .previous-month:hover,
  .react-daypicker-root .next-month:hover {
    color: var(--xobk-default-text-color);
  }

  .react-daypicker-root .next-month {
    text-align: right;
  }

  .react-daypicker-root .month-year {
    flex: 2;
    text-align: center;
    color: var(--xobk-default-text-secondary-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
  }

  .react-daypicker-root .day {
    cursor: pointer;
    // width: 40px;
    // height: 40px;
    vertical-align: middle;
    border-radius: 100px;
  }

  .react-daypicker-root .day:hover:not(.empty) {
    background-color: var(--xo-bk-primary-2, --xobk-accent-third-color);

    .content {
      color: var(--xobk-button-label-color);
    }

    &.disabled {
      .content {
        color: var(--xobk-subdued-text-secondary-color);
      }
      cursor: not-allowed;
      background: none;
    }
  }

  .react-daypicker-root .day.active {
    border-radius: 100px;
    .content {
      color: var(--xobk-button-label-color) !important;
    }
  }

  .react-daypicker-root .day.empty {
    cursor: default;
  }

  @media screen and (max-width: 1024px) {
    .date-container {
      border-spacing: 5px;
    }

    .react-daypicker-root .previous-month,
    .react-daypicker-root .next-month {
      width: 30px;
    }
  }

  @media screen and (min-width: 990px) {
    .react-daypicker-root .daypicker-header {
      padding-top: 0;
    }
  }

  @media screen and (max-width: 576px) {
    .react-daypicker-root .disabled:hover {
      background-color: transparent !important;
      color: #e4e4e4 !important;
    }

    .react-daypicker-root {
      width: 100%;

      abbr {
        font-size: 14px;
      }
    }
  }
}
