@import './src/styles/responsive.scss';

.xobk-layout-mobile {
  padding: 28px 15px 16px;
}

.xobk-layout__right {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  flex: 1;
}

.xobk-layout__header {
  padding-bottom: 28px;
}

.xobk-layout-mobile__body {
  padding-top: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #efefef;
}

.xobk-layout-mobile__footer {
  padding-top: 14px;
}
