.xobk-layout {
  display: flex;
  max-width: var(--xo-bk-container-width);
  width: 100%;
}

.xobk-layout__right {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  flex: 1;
}

.xobk-layout__header {
  padding-bottom: 28px;
}

.xobk-layout__body {
  padding: 30px 0;
  border-bottom: 1px solid rgba(var(--xobk-outline-color), 0.1);
  border-top: 1px solid rgba(var(--xobk-outline-color), 0.1);
}

.xobk-layout__footer {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}
