.xo-booking {
  //Stepper
  --xobk-accent-color: #6bb1a5;
  --xobk-accent-secondary-color: #80b3aa;
  --xobk-accent-third-color: #b4d7d1;
  --xobk-default-text-color: #424d51;
  --xobk-default-text-secondary-color: #727272;
  --xobk-subdued-text-color: #a8a8a8;
  --xobk-subdued-text-secondary-color: #c4c4c4;
  --xobk-subdued-heading-color: #c1c1c1;
  --xobk-background-color: #ffffff;
  --xobk-outline-color: 0, 0, 0;
  --xobk-button-label-color: #ffffff;
  --xobk-subdued-button-label: #a8a8a8;

  * {
    box-sizing: border-box;
  }
}
