.xo-form-text-field {
  padding: 0px 0;
}

.xo-form-text-field:hover .xo-form-text-field-spinner {
  visibility: visible;
}
.xo-form-text-field__connected {
  position: relative;
  display: flex;
  z-index: 1;
}

.xo-form-text-field__icon {
  position: relative;
  z-index: 700;
  flex: 0 0 auto;
  user-select: none;
  height: 1.25rem;
  width: 1.25rem;
  max-height: 100%;
  max-width: 100%;
  margin-left: 0.75rem;
  // margin-right: 0.5rem;
}

.xo-form-text-field__icon svg {
  fill: #5c5f62;
}

.xo-form-text-field__input {
  position: relative;
  z-index: 20;
  display: block;
  // flex: 1 1;
  width: 100%;
  margin: 0 !important;
  padding: 6px 8px;
  line-height: 1.6;
  background: none;
  border: var(--p-border-transparent);
  appearance: none;
  caret-color: var(--p-text);
  color: var(--p-text);
  outline: none;

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }

  &:focus,
  &:active {
    border-color: transparent !important;
  }
}

.xo-form-text-field__input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.xo-form-text-field__prefix,
.xo-form-text-field__suffix {
  z-index: 99;
  user-select: none;
  color: #616a75;
}

.xo-form-text-field__prefix {
  padding-left: 10px;
}

.xo-form-text-field__suffix  {
  padding-right: 10px;
}

.xo-form-text-field__wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.xo-form-text-field__backdrop {
  display: block !important;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--p-surface);
  // 0.0625rem = 1px
  border: 0.0625rem solid var(--p-border-subdued);
  border-top-color: var(--p-border-shadow);
  border-radius: var(--p-border-radius-1);
  pointer-events: none;
}

.xo-form-field__main:not(.xo-form__field--disabled) .xo-form-text-field__input:focus ~ .xo-form-text-field__backdrop,
.xo-form-field__main:not(.xo-form__field--disabled) .xo-form-text-field__input:active ~ .xo-form-text-field__backdrop {
  box-shadow: 0 0 0 0.125rem var(--p-focused);
  outline: var(--p-border-width-1) solid transparent;
  border-color: var(--p-border-subdued);
}

.xo-form-text-field__wrap--error .xo-form-text-field__backdrop {
  background-color: var(--p-surface-critical-subdued);
  border-color: var(--p-border-critical);
}

.xo-form__field--disabled {
  color: var(--p-text-disabled);
  cursor: auto;
}

.xo-form__field--disabled .xo-form-text-field__input {
  opacity: 1;
  background: none;
  color: var(--p-text-disabled);
  -webkit-text-fill-color: var(--p-text-disabled);
}

.xo-form__field--disabled .xo-form-text-field__backdrop {
  background-color: var(--p-surface-disabled);
  border-color: var(--p-border-subdued);
  border-top-color: var(--p-border-disabled);
}

.xo-form-text-field-spinner {
  display: flex;
  visibility: hidden;
  align-self: stretch;
  flex-direction: column;
  width: 1.375rem;
  cursor: pointer;
  z-index: 20;
  color: #616a75;
  margin: 0.1875rem;
  padding-right: 5px;
}

.xo-form-text-field-spinner-segment {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: #dde0e4;
  border-radius: 0.125rem;
}

.xo-form-text-field-spinner-segment:first-child {
  margin-bottom: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.xo-form-text-field-spinner-segment:last-child {
  margin-top: 0;
  border-bottom-right-radius: 0.125rem;
}

.xo-form-text-field-spinner-icon {
  height: .82rem;
  width: .82rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-form-text-field-spinner-icon svg {
  fill: #616a75;
}
