@import './src/styles/responsive.scss';

.xobk-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  @include responsive(XS) {
    width: 100%;
    justify-content: space-between;
  }

  button {
    outline: none;
    border: none;
    padding: 16px 38px;
    border-radius: 0;
  }
}

.xobk-footer__confirm {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  button {
    background-color: var(--xo-bk-primary, --xobk-accent-color);
    color: var(--xobk-button-label-color);

    &:hover {
      background-color: var(--xo-bk-primary-1, --xobk-accent-color) !important;
      color: var(--xobk-button-label-color);
    }
  }

  .xo-ui-btn--disabled {
    button {
      cursor: default;
      background-color: var(--xo-bk-primary-2, --xobk-accent-color);

      &:hover {
        background-color: var(--xo-bk-primary-2, --xobk-accent-color) !important;
      }
    }
  }

  @include responsive(XS) {
    display: block;
  }
}

.xobk-footer__back {
  button {
    color: var(--xo-bk-primary, --xobk-accent-color);

    &:hover {
      background-color: var(--xobk-button-label-color) !important;
      color: var(--xo-bk-primary-2, --xobk-accent-color);
    }
  }

  .xo-ui-btn--disabled {
    button {
      cursor: default;
      color: var(--xo-bk-primary-2, --xobk-accent-color);

      &:hover {
        color: var(--xo-bk-primary-2, --xobk-accent-color);
      }
    }
  }
}