.xobk-card {
  width: 100%;
  box-shadow: var(--p-shadow-card);
}

.xobk-card_section {
  border: var(--p-border-radius-50);
  padding: var(--p-space-100);
}

.xobk-heading {
  font-size: var(--p-font-size-6);
  font-weight: var(--p-font-weight-semibold);
  line-height: var(--p-line-height-3);
  margin: 0;
}

.xobk_stack {
  --pc-stack-spacing: var(--p-space-4);
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: calc(var(--pc-stack-spacing) * -1);
  margin-left: calc(var(--pc-stack-spacing) * -1);

  & > .xobk-stack__item {
    margin-top: var(--pc-stack-spacing);
    margin-left: var(--pc-stack-spacing);
    max-width: 100%;
  }
}

.xobk_stack--alignmentBaseline {
  align-items: baseline;
}

.xobk-stack__item {
  flex: 0 0 auto;
  min-width: 0;
}

.xobk-stack__item--fill {
  flex: 1 1 auto;
}

.xobk-card__header {
  padding: var(--p-space-4) var(--p-space-4) 0;
}

@media (min-width: 30.625em) {
  .xobk-card {
    border-radius: var(--p-border-radius-50);
  }

  .xobk-card_section {
    padding: var(--p-space-125);
  }

  .xobk-card_title {
    padding: var(--p-space-125) var(--p-space-125) 0;
  }

  .xobk-card__header {
    padding: var(--p-space-125) var(--p-space-125) 0;
  }

  .xobk-heading {
    font-size: var(--p-font-size-200);
  }
}
