.xo-form-error {
  margin-top: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.xo-form-error__container {
  position: relative;
  padding-left: 26px;
  color: var(--p-text-critical);
  fill: var(--p-icon-critical);
}

.xo-form-error__icon {
  fill: currentColor;
  position: absolute;
  left: 0;
  // top: 4px;
}

.xo-form-error__icon-content {
  display: block;
  height: 20px;
  width: 20px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;

  svg {
    display: block;
  }
}