.xo-form-choice-list {
  margin: 0;
  padding: 0;
  border: none;
}

.xo-form-choice-list__title {
  display: block;
  margin: 0 0 var(--p-space-1);
  padding: 0;
}

.xo-form-choice-list__title span {
  font-size: var(--p-font-size-200);
  line-height: var(--p-font-line-height-2);
}

.xo-form-choice-list__choices {
  margin: 0 !important;
  padding: 0 !important; // important để ghi đè .rte ul của Shopify
  list-style: none;
}

.xo-form__field--disabled input {
  pointer-events: none;
}
