.xo-ui-popover {
  position: relative;
  display: inline-block;
}

.xo-ui-popover__wrap {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: max-content;
  max-width: 25rem;
  min-width: 6rem;
  margin: .3125rem 0rem 1rem;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-.7125rem);
  box-shadow: 0 0.1875rem 0.375rem -0.1875rem rgba(23,24,24,.08),0 0.5rem 1.25rem -0.25rem rgba(23,24,24,.12);
  // transition: opacity 200ms cubic-bezier(0.25,0.1,0.25,1),transform 200ms cubic-bezier(0.25,0.1,0.25,1);
  z-index: 999;
}

.xo-ui-popover__wrap--bottom {
  top: 40px
}

.xo-ui-popover__wrap--top {
  top: -160px;
}

.xo-ui-popover__wrap--open {
  opacity: 1;
  transform: none;
  animation: xoPopoverShowDown ease .3s;
}

.xo-ui-popover__close {
  opacity: 0;
  transform: translateY(-.7125rem);
  animation: xoPopoverHideUp ease .4s;
}

.xo-ui-popover__content {
  padding: 4px;
}

@keyframes xoPopoverShowDown {
  from {
    opacity: 0;
    transform: translateY(-.7125rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes xoPopoverHideUp {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(-.7125rem);
  }
}
