:root {
  /* General */
  --xo-ui-space-1: 0.25rem;
  --xo-ui-space-2: 0.5rem;
  --xo-ui-space-4: 1rem;
  --xo-ui-space-5: 1.25rem;
  --xo-ui-text-subdued: #6d7175;
  --xo-ui-font-size-100: 0.875rem;
  --xo-ui-font-line-height-2: 1.25rem;
  --xo-ui-font-weight-regular: 400;
  --xo-ui-border-width-3: 0.1875rem;
  --xo-ui-border-radius-1: 0.25rem;
  --xo-ui-focused: #458fff;
  --xo-ui-duration-100: 100ms;
  --xo-ui-ease: cubic-bezier(0.25,0.1,0.25,1);
  --xo-ui-action-primary: #008060;
  --xo-ui-text: #000;
  --xo-ui-border-width-1: 0.0625rem;
  --xo-ui-divider: #e1e3e5;
  --xo-ui-border-divider: var(--xo-ui-border-width-1) solid var(--xo-ui-divider);
  --xo-ui-icon-subdued: #8c9196;

  /* Tooltip */
  --xo-tooltip-background: #000;
  --xo-tooltip-radius: 3px;
  --xo-tooltip-color: #fff;

  /* Button */
  --xo-ui-btn-primary-bg: #000;
  --xo-ui-btn-primary-color: #fff;

  /* Tab */
  --xo-ui-border-hovered: #999ea4;
  --xo-ui-surface-primary-selected-pressed: #a2bcb0;
}
