.xo-ui-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  div {
    margin-left: 0.5rem;
  }
}

.xo-ui-button-group--segmented div {
  margin: 0 !important;
}

.xo-ui-button-group--extraTight div {
  margin-left: 0.5rem;
}

.xo-ui-button-group--tight div {
  margin-left: 0.75rem;
}

.xo-ui-button-group--loose div {
  margin-left: 1rem;
}
