@import "./src/styles/responsive.scss";

@mixin xobk-form-field-label {
  color: var(--xobk-default-text-secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.xobk-form__radio {
  .xobk-form__radio-label {
    color: var(--p-text);
    padding-bottom: 4px;
    display: inline-block;
    line-height: 18px;
  }
}

.xo-form-text-field__input:focus-visible {
  box-shadow: none;
}