.xo-form-list-box {
  width: 100%;
}

.xo-form-list-box__list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 100%;
}

.xo-form-list-box__option {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;

  &:hover{
    background-color: var(--p-surface-selected);
  }
}

.xo-form-list-box__option--selected {
  background-color: #f2f7fe;

  &:before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:calc(var(--p-space-1)*-1);
    height:100%;
    width:var(--p-border-radius-1);
    background-color:var(--p-interactive);
    border-top-right-radius:var(--p-border-radius-1);
    border-bottom-right-radius:var(--p-border-radius-1);
    transform:translateX(0%)
  }
}

.xo-form-list-box__option--selected .xo-form-list-box__text {
  outline: none;
  background-color: var(--p-surface-selected);
  transition: background-color 200ms;

  &:after {
    box-shadow: 0 0 0 .125rem var(--p-focused);
    outline: var(--p-border-width-1) solid transparent;
    transition: box-shadow 200ms var(--p-ease-in);
  }
}

.xo-form-list-box__text {
  margin: var(--p-space-1) var(--p-space-2) 0;
  flex: 1 1;
  border-radius: var(--p-border-radius-1);
  padding: var(--p-space-2) var(--p-space-2);
  cursor: pointer;
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -.0625rem;
    right: -.0625rem;
    bottom: -.0625rem;
    left: -.0625rem;
    display: block;
    pointer-events: none;
    border-radius: var(--p-border-radius-1);
    box-shadow: 0 0 0 -.0625rem #458fff;
    transition: box-shadow var(--p-duration-100) var(--p-ease);
  }

  div {
    flex: 1 1 auto;
    display: flex;
  }
}
