.xo-ui-btn {
  position: relative;
  display: inline-flex;
  transition: color linear 0.4s;

  .icon,
  .icon_primary {
    margin-right: -0.375rem;
    margin-left: 0.25rem;
    display: block;
    height: var(--xo-ui-space-5);
    width: var(--xo-ui-space-5);
    max-height: 100%;
    max-width: 100%;
  }

  .icon svg {
    fill: #5c5f62;
  }

  .icon_primary svg {
    fill: #fff;
  }
}

.xo-ui-btn button {
  outline: none;
  padding: 8px 20px;
  min-height: 2.25rem;
  min-width: 2.25rem;
  background-color: white;
  color: black;
  border: 0.0625rem solid #8c9196;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.xo-ui-btn:not(.xo-ui-disabled) button:hover {
  background-color: #f6f6f7;
  box-shadow: none;
}

.xo-ui-btn--primary button {
  background-color: var(--xo-ui-btn-primary-bg);
  color: var(--xo-ui-btn-primary-color);

  &:hover {
    background-color: white;
    color: black;

    .icon_primary svg {
      fill: #000;
    }
  }
}

.xo-ui-btn--secondary button {
  background-color: var(--xo-ui-btn-secondary-bg);
  color: var(--xo-ui-btn-secondary-color);

  &:hover {
    background-color: black;
    color: white;
  }
}

.xo-ui-disabled button {
  // color: currentColor;
  opacity: 0.4;
}

.loading_text {
  color: transparent;
}

.xo-ui-btn__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

.xo-ui-full-width button {
  width: 100%;
}

