.xo-form-datepicker {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.xobk-required {
  color: #ff3131;
  margin-left: 2px;
}

.xo-form-datepicker__input {
  padding: 9px 15px;
  font-size: 14px;
  border: 0.0625rem solid var(--p-border-subdued);
  border-radius: var(--p-border-radius-1);
  font-size: 14px;
  font-weight: var(--p-font-weight-regular);
  line-height: 18px;
  caret-color: var(--p-text);
  margin-top: 5px;
  width: 100%;

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.xo-form-datepicker__input--err {
  border-color: rgba(255, 78, 78, 0.45);
}
