@import "./src/styles/responsive.scss";

.xo-form-radio-button__backdrop,
.xo-form-radio-button__radio-input:checked + .xo-form-radio-button__backdrop {
  border-color: var(--xo-bk-primary-1, --xobk-accent-color);
}

.xo-form-radio-button__backdrop::before {
  background-color: var(--xo-bk-primary, --xobk-accent-color);
}

.xobk-services--layout-list {
  @mixin text-sub {
    color: var(--xobk-subdued-text-color);
    font-weight: 400;
    cursor: default;
  }

  .xobk-services {
    @include responsive(MD) {
      padding-right: 30px;
    }
  }

  .xobk-service {
    display: flex;
    gap: 30px;

    &:not(:first-child) {
      padding-top: 25px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(var(--xobk-outline-color), 0.06);
      padding-bottom: 25px;
    }
  }

  .xobk-service__image {
    width: 50px;
    height: 50px;
  }

  .xobk-service__content {
    flex: auto;
  }

  .xobk-service__heading {
    margin-bottom: 10px;
  }

  .xobk-service__toggle-description {
    border: none;
    outline: none;
    background: none;
    height: max-content;

    &:hover {
      cursor: pointer;
    }
  }

  .xobk-service__title-main {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    cursor: default;
    color: var(--xobk-default-text-color);
  }

  .xobk-service__variant {
    --p-border: var(--xobk-accent-third-color);
    --p-interactive: var(--xo-bk-primary, --xobk-accent-color);

    .xo-form-radio-button__label-text {
      color: var(--xobk-default-text-color);
      font-weight: 400;
    }

    .xo-form-radio-button {
      align-items: center;
    }

    .xo-form-radio-button__backdrop {
      top: 1px;
    }

    .xo-form-radio-button__label-text > span {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--xobk-subdued-text-color);
      display: block;

      @include responsive(MD) {
        display: inline;
      }
    }
  }

  .xobk-service__variant--mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 8px;
  }

  .xobk-service__title-main--checkable {
    .xo-form-radio-button__label-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      cursor: default;
      color: var(--xobk-default-text-color);
    }
  }

  .xobk-service__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    @include text-sub;

    &[data-state="open"] {
      padding-top: 4px;
      transition: all 0.5s linear;
    }

    &[data-state="close"] {
      transition: all 0.5s linear;
      transition-delay: 0s;
    }
  }

  @media (max-width: 750px) {
    .xobk-service__variant {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin-bottom: 8px;
    }
  }
}

.xobk-services--layout-card {
  .xobk-services {
    display: flex;
    gap: 20px;

    @include responsive(XS) {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  .xobk-services-grid {
    display: grid;
    grid-gap: 16px;
  }

  .xobk-service {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    position: relative;
  }

  .xobk-service__variant {
    display: flex;
    margin-top: 15px;
  }

  //With thumbnail
  .xobk-service__checkbox {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
  }

  .xobk-service__detail {
    padding: 14px;
  }

  .xobk-service__image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .xobk-service__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #424d51;
    margin: 0;
    padding: 0;
  }

  .xobk-service__price {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #a8a8a8;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .xobk-service__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #727272;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-align: start;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
  }

  .xobk-service-variant--selected {
    padding-top: 9px;
    border-top: 1px solid #ececec;
    margin-top: 13px;
  }

  .xobk-service-variant__name {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #727272;
  }

  .xobk-service-variant__price {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #a8a8a8;
    margin-top: 4px;
  }

  .xobk-service__body--back {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    background-color: #fff;
    overflow-y: auto;
    padding: 22px;

    // top: 0;
    // left: 0;
    .xo-form-radio-button__control {
      border-color: var(--xo-bk-primary, --xobk-accent-color);
    }

    .xobk-service__title {
      padding-bottom: 15px;
      border-bottom: 1px solid #ececec;
    }

    .xobk-service__detail {
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .xobk-service.xobk-service--multivariant:hover {
    .xobk-service__body {
      visibility: hidden;
    }

    .xobk-service__body--back {
      visibility: visible;
    }
  }

  .xobk-service-no-thumb {
    .xobk-service__checkbox {
      position: relative;
      top: 0;
      left: 0;
      margin: 20px 0 0 14px;
    }

    .xobk-service__body--back {
      padding: 14px;
    }
  }
}
