.xo-ui-spinner {
  display: flex;
  align-items: center;

  svg{
    height: 2.75rem;
    width: 2.75rem;
    animation: p-keyframes-spin 500ms linear infinite;
    // fill: var(--p-border-highlight);
    fill: #000;
  }
}

.xo-ui-spinner--primary svg {
  fill: #fff;
}

.xo-ui-spinner--small svg {
  height: 1.25rem !important;
  width: 1.25rem !important;
}

@keyframes p-keyframes-spin {
    to {
     transform:rotate(1turn)
    }
   }
