.xo-form-drop-zone {
  --pc-drop-zone-outline: 29;
  --pc-drop-zone-overlay: 30;
  padding: 0.0625rem;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--p-surface);
  border-radius: var(--p-border-radius-1);
  cursor: pointer;
}

.xo-form-drop-zone::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transform: scale(1);
  border: 0.108rem dashed black;
  border-radius: var(--p-border-radius-large);
  border-color: var(--p-border-neutral-subdued);
}

.xo-form-drop-zone:hover {
  &::after {
    border-color: #1f5199;
  }
}

.xo-form-drop-zone__visual {
  position: absolute !important;
  top: 0;
  width: 0.0625rem !important;
  height: 0.0625rem !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.xo-form-drop-zone__wrap {
  position: relative;
  flex: 1 1;
}

.xo-form-drop-zone__wrap::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -0.125rem;
  right: -0.125rem;
  bottom: -0.125rem;
  left: -0.125rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.125rem var(--p-focused);
  transition: box-shadow var(--p-duration-100) var(--p-ease);
  border-radius: var(--p-border-radius-1);
}

.xo-form-drop-zone__upload {
  //large -medium - smll 1 0.5
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-form-drop-zone__list_upload {
  padding: 1.4rem;
  text-align: left;
  justify-content: flex-start;
  height: 100%;
}

.xo-form-drop-zone__stack {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: calc(var(--pc-stack-spacing) * -1);
  flex-direction: column;
}

.xo-form-drop-zone__item {
  margin-top: 0.5rem;
  max-width: 100%;
}

.xo-form-drop-zone__icon {
  margin-top: 0.5rem;
  max-width: 100%;
  display: flex;
}

.xo-form-drop-zone__action {
  position: relative;
  border: none;
  padding: 6px 8px;
  margin: 0;
  line-height: 1;
  text-decoration: none;
  background: #e5effd;
  color: #1f5199;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.xo-form-drop-zone__action:hover {
  color: #103262;
}

.xo-form-drop-zone__action::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -0.0625rem;
  right: -0.0625rem;
  bottom: -0.0625rem;
  left: -0.0625rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.0625rem var(--p-focused);
  transition: box-shadow var(--p-duration-100) var(--p-ease);
  border-radius: var(--p-border-radius-1);
}

.xo-form-drop-zone__hint {
  font-size: var(--p-font-size-75);
  line-height: var(--p-font-line-height-1);
  font-weight: var(--p-font-weight-regular);
  color: var(--p-text-subdued);
  margin: 0;
  text-align: inherit;
}

.xo-form-drop-zone__stack--thumbnail,
.xo-form-drop-zone__stack--file {
  width: 2.5rem;
  --pc-thumbnail-extra-small-size: 1.5rem;
  --pc-thumbnail-small-size: 2.5rem;
  --pc-thumbnail-medium-size: 3.75rem;
  --pc-thumbnail-large-size: 5rem;
  position: relative;
  display: block;
  overflow: hidden;
  background: var(--p-surface);
  min-width: var(--pc-thumbnail-extra-small-size);
  max-width: 100%;
  border-radius: var(--p-border-radius-1);
  // border: var(--p-border-divider);
}

.xo-form-drop-zone__stack--thumbnail::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.xo-form-drop-zone__stack--thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  color: #8c9196;
}

.xo-form-drop-zone__stack--file svg {
  fill: rgba(140, 145, 150, 1);
}

.xo-form-drop-zone__file-info {
  margin-left: 1rem;
}

.xo-form-drop-zone__file-info p {
  margin: 0;
  font-size: 13px !important;
  line-height: 20px;
}

.xo-form-drop-zone__file-info p:first-child {
  font-size: 0.9rem;
}

.xo-form-drop-zone__file-info p:last-child {
  font-size: 0.75rem;
}

.xo-form__field--disabled .xo-form-drop-zone::after {
  cursor: not-allowed;
}

.xo-form__field--disabled .xo-form-drop-zone__action,
.xo-form__field--disabled .xo-form-drop-zone__hint {
  border-color: var(--p-border-disabled);
  background: var(--p-surface-disabled);
  color: var(--p-text-disabled);
}
