@keyframes xoCollapsibleOpen {
  0% {
    height: 0;
  }

  100% {
    height: var(--xo-ui-collapsible-content-height);
  }
}

@keyframes xoCollapsibleClose {
  0% {
    height: var(--xo-ui-collapsible-content-height);
  }

  100% {
    height: 0;
  }
}

.xo-ui-collapsible {
  user-select: none;
}

.xo-ui-collapsible {
  overflow: hidden;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  transition-duration: 0;
}

.xo-ui-collapsible[data-state="closed"] {
  animation-name: xoCollapsibleClose;
}

.xo-ui-collapsible[data-state="open"] {
  animation-name: xoCollapsibleOpen;
}
