:root {
  --p-surface:#fff;
  --p-surface-disabled:#fafbfb;
  --p-border:#8c9196;
  --p-border-neutral-subdued:#babfc3;
  --p-border-disabled:#d2d5d8;
  --p-border-subdued:#c9cccf;
  --p-border-shadow:#aeb4b9;
  --p-border-shadow-subdued:#babfc4;
  --p-icon:#5c5f62;
  --p-icon-size-small:0.5rem;
  --p-icon-on-interactive:#fff;
  --p-icon-critical:#d72c0d;
  --p-text:#202223;
  --p-text-disabled:#8c9196;
  --p-text-subdued:#6d7175;
  --p-text-critical:#d72c0d;
  --p-interactive:#2c6ecb;
  --p-focused:#458fff;
  --p-border-critical:#fd5749;
  --p-border-critical-subdued:#e0b3b2;
  --p-surface-critical-subdued:#fff4f4;
  --p-border-highlight:#449da7;
  --p-border-highlight-subdued:#98c6cd;
  --p-border-success:#00a47c;
  --p-border-success-subdued:#95c9b4;
  --p-shadow-button:0 0.0625rem 0 rgba(0,0,0,.05);
  --p-font-size-75:0.75rem;
  --p-font-size-100:0.875rem;
  --p-font-size-200:1rem;
  --p-font-weight-regular:400;
  --p-font-line-height-1:1rem;
  --p-font-line-height-2:1.25rem;
  --p-font-line-height-3:1.5rem;
  --p-choice-size:18px;
  --p-choice-margin:0.0625rem;
  --p-control-border-width: 2px;
  --p-duration-100:100ms;
  --p-duration-150:150ms;
  --p-ease:cubic-bezier(0.25,0.1,0.25,1);
  --p-border-radius-1:0.25rem;
  --p-border-radius-2: 0.5rem;
  --p-border-radius-half:50%;
  --p-border-width-1:0.0625rem;
  --p-border-transparent:var(--p-border-width-1) solid transparent;
  --p-space-0:0;
  --p-space-025:0.0625rem;
  --p-space-05:0.125rem;
  --p-space-1:0.25rem;
  --p-space-2:0.5rem;
  --p-space-3:0.75rem;
  --p-space-4: 1rem;
  --p-space-5: 1.25rem;
  --p-ease-in:cubic-bezier(0.42,0,1,1);
  --p-surface-selected:#f2f7fe;
  --p-shadow-popover:0 0.1875rem 0.375rem -0.1875rem rgba(23,24,24,.08),0 0.5rem 1.25rem -0.25rem rgba(23,24,24,.12);
  --p-range-slider-thumb-size-base: 1rem;
}

