.xo-form-combo-box {
  position: relative;
}

.xo-form-combo-box__combobox {
  position: absolute;
  display: block;
  top: 60px;
  left: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0.1875rem 0.375rem -0.1875rem rgba(23,24,24,.08),0 0.5rem 1.25rem -0.25rem rgba(23,24,24,.12);
  z-index: 899;
  background-color: #fff;
  overflow: hidden;
}

.xo-form-combo-box__content {
  padding: 10px 4px;
  animation: xo-form-combo-box_show .3s linear;
}

.xo-form-combo-box__stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.xo-form-combo-box__item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin-right: 6px;
  background-color: gray;
  border-radius: 4px;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  button {
    display: flex;
    align-items: center;
    height: 1.65rem;
    width: 1.65rem;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    width: 20px;
    padding: 0;
    margin-left: 3px;
  }

  svg {
    width: 20px;
  }
}

.xo-form-combo-box__content--hidden {
  height: auto;
  animation: xo-form-combo-box_hide .3s linear;
}

@keyframes xo-form-combo-box_show {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes xo-form-combo-box_hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
