.xo-form-label {
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--p-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  // margin-bottom: var(--p-space-1);
  padding-bottom: 6px;
  line-height: 1.4;
}

.xo-form-label__text {
  display: block;
  color: var(--p-text);
}

.xo-form-label--disabled .xo-form-label__text {
  color: var(--p-text-disabled);
}
