.xo-form-checkbox {
  width: 100%;
  padding: 4px 0;
  line-height: 18px;
}

.xo-form-checkbox__label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--p-space-1) 0;
  cursor: pointer;
  width: 100%;
}

.xo-form-checkbox__control {
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  width: var(--p-choice-size);
  height: var(--p-choice-size);
  margin-right: var(--p-space-2);
}

.xo-form-checkbox__check {
  position: relative;
  width: 100%;

  span, svg {
    width: 100%;
  }
}

.xo-form-checkbox__input {
  position: absolute !important;
  top: 0;
  width: 0.0625rem !important;
  height: 0.0625rem !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.xo-form-checkbox__backdrop {
  border: var(--p-control-border-width) solid var(--p-border);
  background-color: var(--p-surface);
  border-radius: var(--p-border-radius-1);
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.xo-form-checkbox__backdrop::before {
  content: "";
  position: absolute;
  top: calc(var(--p-control-border-width) * -1);
  right: calc(var(--p-control-border-width) * -1);
  bottom: calc(var(--p-control-border-width) * -1);
  left: calc(var(--p-control-border-width) * -1);
  border-radius: var(--p-border-radius-1);
  background-color: var(--p-interactive);
  opacity: 0;
  transform: scale(0.25);
  transition: opacity var(--p-duration-100) var(--p-ease), transform var(--p-duration-100) var(--p-ease);
}

.xo-form-checkbox__backdrop::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: calc(var(--p-control-border-width) * -1 + -0.0625rem);
  right: calc(var(--p-control-border-width) * -1 + -0.0625rem);
  bottom: calc(var(--p-control-border-width) * -1 + -0.0625rem);
  left: calc(var(--p-control-border-width) * -1 + -0.0625rem);
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 calc(var(--p-control-border-width) * -1 + -0.0625rem) var(--p-focused);
  transition: box-shadow var(--p-duration-100) var(--p-ease);
  border-radius: var(--p-border-radius-1);
}

.xo-form-checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0) scale(0.25);
  opacity: 0;
  transition: opacity var(--p-duration-100) var(--p-ease), transform var(--p-duration-100) var(--p-ease);
}

.xo-form-checkbox__status {
  position: relative;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  max-height: 100%;
  max-width: 100%;
  margin: auto;

  svg {
    fill: var(--p-icon-on-interactive);
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.xo-form-checkbox__status-blank {
  display: block;
  width: 10px;
  height: 2.5px;
  position: absolute;
  top: 8.5px;
  left: 3.5px;
  background-color: #ffff;
  border-radius: 10px;
}

.xo-form-checkbox__label-text {
  cursor: pointer;
  color: var(--p-text);
  margin-top: 3px;
}

.xo-form-checkbox__check--checked {
  .xo-form-checkbox__icon {
    transition: opacity var(--p-duration-150) var(--p-ease), transform var(--p-duration-150) var(--p-ease);
    transform: translate3d(-46%, -50%, 0) scale(1.15);
    opacity: 1;
  }

  .xo-form-checkbox__backdrop {
    background-color: var(--p-interactive) !important;
    border-color: var(--p-interactive) !important;
  }
}

.xo-form__field--disabled {
  cursor: default;
  pointer-events: none;
}

.xo-form__field--disabled .xo-form-checkbox__backdrop {
  border-color: var(--p-border-disabled);
}

.xo-form__field--disabled .xo-form-checkbox__label-text {
  color: var(--p-text-disabled);
}

.xo-form-checkbox__help-text {
  padding-left: calc(var(--p-space-2) + var(--p-choice-size));
  margin-bottom: var(--p-space-1);
  font-size: 14px;
  line-height: 1.3;
  font-weight: var(--p-font-weight-regular);
  color: var(--p-text-subdued);
}
