.xo-ui-toast__manager {
  position: fixed;
  z-index: var(--p-z-12);
  right: 0;
  left: 0;
  text-align: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xo-ui-toast__manager--wrap {
  --p-duration-400: 400ms;
  transform: translateY(var(--pc-toast-manager-translate-y));
  opacity: 1;
  position: absolute;
  display: inline-flex;
  transition: transform var(--p-duration-400) ease, opacity var(--p-duration-400) ease;
}

.xo-ui-toast__frame {
  display: inline-flex;
  max-width: 31.25rem;
  padding: var(--p-space-3);
  border-radius: var(--p-border-radius-1);
  background: rgba(32, 33, 35, 1);
  color: #fff;
  margin-bottom: var(--p-space-5);
  box-shadow: var(--p-shadow-popover);
}

.xo-ui-toast__frame--error {
  background: rgba(216, 44, 13, 1);
  color: #fff;
}

.xo-ui-toast__icon--error {
  margin-right: var(--xo-ui-space-2);
}

.xo-ui-toast__icon--error svg {
  width: 1.25rem;
  height: 1.25rem;
  path {
    fill: #fff;
  }
}

.xo-ui-toast__frame--error .xo-ui-toast__frame--close svg path {
  fill: #fff;
}

.xo-ui-toast__frame--inline {
  --pc-inline-align: start;
  --pc-inline-block-align: center;
  --pc-inline-wrap: wrap;
  --pc-inline-gap-xs: var(--p-space-4);
  --pc-inline-gap-sm: initial;
  --pc-inline-gap-md: initial;
  --pc-inline-gap-lg: initial;
  --pc-inline-gap-xl: initial;
  display: flex;
  flex-wrap: var(--pc-inline-wrap);
  align-items: var(--pc-inline-block-align);
  justify-content: var(--pc-inline-align);
  gap: var(--pc-inline-gap-md, var(--pc-inline-gap-sm, var(--pc-inline-gap-xs)));
}

.xo-ui-toast__frame--inline span {
  font-size: var(--p-font-size-100);
  line-height: var(--p-font-line-height-2);
  font-weight: 400;
  margin: 0;
  text-align: inherit;
}

.xo-ui-toast__frame--close {
  border-style: none;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  border: none;
  appearance: none;
  background: transparent;
  color: var(--xo-ui-icon-subdued);
  cursor: pointer;
  margin-left: var(--p-space-2);
}

.xo-ui-toast__frame--close svg {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.xo-ui-toast__frame--close svg path {
  fill: var(--xo-ui-icon-subdued);
}