.xo-form-radio-button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--p-space-1) 0;
  cursor: pointer;
  position: relative;
}

.xo-form-radio-button--disabled {
  cursor: default;
}

.xo-form-radio-button--disabled > * {
  color: var(--p-text-disabled);
}

.xo-form-radio-button__radio-input:disabled + .xo-form-radio-button__backdrop {
  border-color: var(--p-border-disabled);
  cursor: default;
  ::before {
    background-color: var(--p-border-disabled);
  }
}

.xo-form-radio-button__control {
  width: var(--p-choice-size);
  height: var(--p-choice-size);
  margin-right: var(--p-space-2);
}

.xo-form-radio-button__radio-input {
  position: absolute !important;
  top: 0;
  width: 0.0625rem !important;
  height: 0.0625rem !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.xo-form-radio-button__backdrop {
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: var(--p-control-border-width) solid var(--p-border);
  border-radius: var(--p-border-radius-half);
  background-color: transparent;
  transition: border-color 100ms var(--p-ease);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
    transform-origin: 50% 50%;
    height: 8px;
    width: 8px;
    background-color: var(--p-interactive);
    border-radius: var(--p-border-radius-half);
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: calc(var(--p-control-border-width) * -1 + -0.0625rem);
    right: calc(var(--p-control-border-width) * -1 + -0.0625rem);
    bottom: calc(var(--p-control-border-width) * -1 + -0.0625rem);
    left: calc(var(--p-control-border-width) * -1 + -0.0625rem);
    display: block;
    pointer-events: none;
    box-shadow: 0 0 0 calc(var(--p-control-border-width) * -1 + -0.0625rem) var(--p-focused);
    transition: box-shadow 100ms var(--p-ease);
    border-radius: var(--p-border-radius-half);
  }
}

.xo-form-radio-button__radio-input:checked + .xo-form-radio-button__backdrop {
  border-color: var(--p-interactive);

  &:before {
    transition: opacity 150ms var(--p-ease), transform 150ms var(--p-ease);
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.xo-form-radio-button__label-text {
  margin-top: 2px;
  line-height: 1.25rem;
}
