@import "./src/styles/responsive.scss";
@import "./src/styles/mixin.scss";

.xobk-timepicker {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  background-color: transparent;
  justify-content: flex-start;

  .control-btn {
    background: none;
    color: #8e8e8e;
  }

  @include responsive(XS) {
    align-items: center;
    padding: 0 30px;
  }
}

.xobk-timepicker-radio:checked + label:not(.xobk-timepicker-hour__not-available) {
  background-color: var(--xo-bk-primary, --xobk-accent-color);
  color: var(--xobk-button-label-color);
}
.xobk-timepicker-radio {
  display: none;
  position: absolute;
  width: 100%;
  appearance: none;
}

.xobk-timepicker-hour {
  width: 50%;
  min-width: 90px;
  font-size: 16px;
  border: 3px solid transparent;
  display: block;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.xobk-timepicker-label {
  user-select: none;
  color: var(--xobk-default-text-third-color);
  width: 100%;
  padding: 7px 10px;
  font-size: 16px;
  border: 1px solid var(--xobk-subdued-text-secondary-color);
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s ease;
  margin-right: 5px;

  &:hover:not(.xobk-timepicker-hour__not-available) {
    background-color: var(--xo-bk-primary-2, --xobk-accent-third-color);
    color: var(--xobk-button-label-color);
  }

  @include responsive(XS) {
    padding: 10px 38px;
  }
}

.xobk-timepicker-hour__not-available {
  color: var(--xobk-subdued-text-secondary-color);
  cursor: not-allowed;
}

.xobk-timepicker-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xobk-timepicker-pagination-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  pointer-events: none;

  @include responsive(MD) {
    display: none;
  }
}

.xobk-timepicker-pagination-button {
  background: none;
  border: none;
  pointer-events: all;
  padding: 20px 10px;
}

@media only screen and (max-width: 576px) {
  .time-picker-grid {
    padding: 0;
    align-items: center;
    z-index: 100;
  }

  .hour label {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    padding: 9px 0;
  }

  .arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90%;
    z-index: 200;
  }

  .arrow-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }

  .hour-not-available {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.xobk-timePicker__day-not-available {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--xobk-default-text-secondary-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
