@import './src/styles/responsive.scss';

.xobk-steps {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 60px 25px;
  width: 280px;
  border-right: 1px solid rgba(var(--xobk-outline-color), 0.1);

  @include responsive(LG) {
    width: 313px;
  }
}

.xobk-steps-mobile {
  margin-top: 12px;
  margin-bottom: 14px;

  svg {
    width: 100%;
  }
}

.xobk-steps__step {
  position: relative;
  display: flex;
  color: var(--xobk-subdued-button-label);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  min-width: 10rem;
  user-select: none;

  &:not(:last-child) {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(var(--xobk-outline-color), 0.06);
  }
}

.xobk-steps__step--active {
  color: var(--xo-bk-primary, --xobk-accent-secondary-color);
}

.xobk-steps__step--disable {
  cursor: not-allowed;
}
